.background {
  background-image: url("../statics/backgroundImage.jpg");
  margin-top: inherit;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.centered {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 15;
  top: 30%;
  left: 70%;
  margin: -100px 0 0 -150px;
  background-color: blue;
  border: solid black;
}

.booth {
  width: 400px;
  background: #ccc;
  border: 10px solid #ddd;
  margin: 0 auto;
}
